# Ignore Android Studio and IntelliJ project files
*.iml
.idea/
.gradle

# Ignore local configuration
local.properties
/local.properties

# Ignore build output
/build
/captures
.externalNativeBuild
.cxx

# Misc system files
.DS_Store
